- name: create directory
  file: 
    path: "/home/sys-admin/docker/ansible/k8s_config/{{ dept }}/{{ clusterID }}/.kube"
    state: directory
  
- name: owner
  file:
    path: "/home/sys-admin/docker/ansible/k8s_config/{{ dept }}/{{ clusterID }}"
    owner: sys-admin
    group: sys-admin
    state: directory
    recurse: yes
