---
# tasks file for get_k8s_key
- name: copy
  fetch:
    src: /etc/kubernetes/admin.conf
    dest: /home/sys-admin/docker/ansible/k8s_config/{{ dept }}/{{ clusterID }}/.kube/config
    flat: true

- name: permission
  file:
    dest: /home/sys-admin/docker/ansible/k8s_config/{{ dept }}/{{ clusterID }}/.kube/config
    mode: 0644
  delegate_to: local

